*{
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    text-align: center;
}

html{
  scroll-behavior: smooth;
}

@font-face{
    font-family: Spoqa Han Sans Regular;
    src:url('Spoqa Han Sans Regular.ttf');
    font-weight: normal;
}

body{
    font-family: "맑은고딕", "고딕", "굴림";
}
@import url("https://fonts.googleapis.com/css?family=Bitter:700");
.content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h1 {
  font-family: 'Bitter', serif;
  line-height: 1.4;
  word-spacing: 3px;
  max-width: 40rem;
  text-shadow: 0px 1px 0px #202020;
  background-color: white;
}
.content .highlight {
  display: inline-block;
  color: white;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  text-shadow: 0px 1px 0px #202020;
  position: relative;
  z-index: 0;
}
.content .highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 250ms;
}
.content .highlight:hover {
  color: #202020;
  text-shadow: 0px 1px 0px #202020;
}
.content .highlight:hover::after {
  height: 105%;
  width: 105%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-size: 24px;
}

.btn-1,
.btn-2 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid white;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.btn-1 span {
  position: relative;
  z-index: 3;
  color: white;
}

.btn-2 span {
 position: relative;
  z-index: 3;
  color: #202020;
  background-color: transparent;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #202020;
  transition: all 0.3s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #202020;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

.btn-2 a {
  color: #202020;
  transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
  color: white;
  transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.gallery1 {
	width: 40%;
	margin: auto;
    padding-right: 300px;
}

.gallery2 {
	width: 40%;
	margin: auto;
    padding-left: 300px;
}

.gallery3 {
	width: 40%;
	margin: auto;
    padding-right: 300px;
    
}

.gallery4 {
	width: 40%;
	margin: auto;
    padding-left: 300px;
}

div.picture {
	margin-top: 30px;
}

div.picture ul {
	list-style-type: none;
	margin-left: 50px;
}

div.picture ul li, div.picture li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.picture ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

div.picture ul li:hover {
	z-index: 5;
}

div.picture ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 130px;
	height: 130px;
	background: #f0f0f0;
}

div.picture ul li img:hover {
	width: 270px;
	height: 270px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}


table{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

td{
    text-align: center;
    font-family: "맑은고딕";   
    font-size: 13px;
    font-weight: lighter;
    line-height: 25px;
    color: white;
    width: 50%;
}


.photern{
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.photern1{
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.season1{
    font-family: Times New Roman;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-left: 260px;
}

.season2{
    font-family: Times New Roman;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-right: 170px;
}

.season3{
    font-family: Times New Roman;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-left: 240px;
}

.season4{
    font-family: Times New Roman;
    color: white;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    padding-right: 180px;
}

#copyright{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color:  white;
    line-height: 20px;
    font-size: 16px;
}

.carousel{
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.carousel li{
    position:absolute;
    left:0;
    top:0;
    opacity: 1;
    animation: slide 12s ease infinite forwards;
}

.carousel li:nth-child(1){
    opacity: 1;
    z-index: 3;
}

.carousel li:nth-child(2){
    z-index: 2;
    animation-delay: 4s;
}

.carousel li:nth-child(3){
    z-index: 1;
    animation-delay: 8s;
}

@keyframes slide{
    0%{opacity: 1; left: 0;}
    33%.33%{opacity: 0.5; left: -120%;}
    34%{opacity: 0;}
    66.66%{left: 0; opacity: 0;}
    100%{opacity: 1;}
}


.arrow{
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 9;
}
.arrow a{
  height: 39px;
  width: 37px;
  text-align: center;
  background: #703543;
  display: block;
  border-radius: 3px;
}
.arrow a span{
  color: white;
  font-size: 30px;
  line-height: 39px;
  cursor: pointer;
  background-color: #703543;
}
